body {
  /* background-image: url("movinglogin.gif"); */
  background: url(movinglogin.gif) no-repeat center center fixed;
  background-size: cover;
}
#container {
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "imageDiv cont";
  width: 100%;
}

#toolbar {
  grid-area: toolbar;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.toolbar {
  color: white;
  padding: 20px;
}

h3,
p {
  color: white;
}
span {
  color: #f6b443;
}
.info {
  color: #f6b443;
}

img {
  width: 100%;
}
#hiddenBar {
  display: none;
}
/* .row {
  width: 50%;
} */
