#container {
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "imageDiv cont";
  width: 100%;
}

#toolbar {
  grid-area: toolbar;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.toolbar {
  color: white;
  /* border: 3px solid #f6b443; */
  padding: 20px;
}

h1,
p,
h5 {
  color: white;
}

span {
  color: #f6b443;
}
